<!DOCTYPE HTML>
<html>

<%- include('inc/head') -%> <!-- Não precisa por a extensão: EJS. Pois por padrão ele já procura pela mesma. Este código de reutiilização é parecido com laravel PHP-->

<body>

	<div class="gtco-loader"></div>

	<div id="page">

    <%- include('inc/header-menu') -%>
    <%- include('inc/header-index') -%>

    <%- include('inc/content/menus') -%>
    <%- include('inc/content/service') -%>
    <%- include('inc/content/text') -%>
    <%- include('inc/content/facts') -%>
    <%- include('inc/content/subscribe') -%>

    <%- include('inc/footer') -%>

	</div>

	<%- include('inc/footer-gototop') -%>

	<%- include('inc/footer-scripts') -%>

</body>

</html>